/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
/tmp
/.temp/
/omunculus
/.omunculus/
.env
.env.local
.env.*.local
.elixir_ls
.dialyzer
*.beam
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
/.scratch/
/test/support/openai_stub/target/
